{{> header}}
{{> nav}}
<section id="viewMe">
  <div class="content">
    <div class="chirper">

      <h2 class="titlebar">{{username}}</h2>
      {{> createChirp}}
      {{> myStats}}
    </div>
    <div id="myChirps" class="chirps">
      <h2 class="titlebar">Chirps</h2>
      {{> chirpList}}
    </div>
  </div>
</section>

{{> footer}}