<div class="table-head">
  <div class="col wide">Product Name</div>
  <div class="col wide">Quantity</div>
  <div class="col wide">Price per Unit</div>
  <div class="col">Sub-total</div>
  <div class="col">Action</div>
</div>