{{> header}}

<section id="create-receipt-view">
  <h1>Create Receipt</h1>
  <div class="table">
    {{> tableHead}}
    <div id="active-entries">
      {{> entryList}}
    </div>
    <div class="row">
      {{> createEntryForm}}
    </div>
    <div class="table-foot">
      <form id="create-receipt-form">
        <div class="col wide">
        </div>
        <div class="col wide">
        </div>
        <div class="col wide right">Total:</div>
        <div class="col">76.50</div>
        <div class="col">
          <input id="checkoutBtn" type="submit" value="Checkout" />
        </div>
        <input type="hidden" name="receiptId" />
        <input type="hidden" name="productCount" />
        <input type="hidden" name="total" />
      </form>
    </div>
  </div>
</section>

{{> footer}}